{% extends 'base.html.twig' %}

{% block main %}
<div
    class="container mb-5" 
>
    <div class="card mt-5">
        <div class="card-header">Nouveau Client</div>
        <div class="card-body p-3">
            {{form(formClient)}}
            </div>
            
        </div>
    </div>
    
   
    
</div>


{% endblock %}

